.desktop-large {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background-color: #ffffff;
}

.frame {
  display: flex;
  flex-direction: column;
  width: 1920px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Changed from gap to justify-content */
  padding: 37px 0;
  width: 100%;
  background-color: var(--preto);
}

.logo-provisria {
  width: 260px;
  height: 64px;
}

.text-wrapper, .text-wrapper-2, .text-wrapper-3 {
  width: fit-content;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: var(--branco);
  font-size: 24px;
  text-decoration: underline; /* Specific to text-wrapper-2 */
}

.text-wrapper-2 {
  text-decoration: underline;
}

.frame-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 112px;
  width: 100%;
}

.banner-contato {
  width: 100%;
  height: 620px;
}

.frame-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 360px;
  width: 100%;
}

.frame-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  width: 100%;
}

.ttulo-padro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.destinos-da-excurs-o {
  font-family: var(--h3-font-family);
  font-weight: var(--h3-font-weight);
  color: var(--grafite);
  font-size: var(--h3-font-size);
  text-align: center;
}

.rectangle {
  width: 180px;
  height: 4px;
  background-color: var(--vermelho);
}

.p {
  width: 1200px;
  font-family: var(--body-2-font-family);
  font-weight: var(--body-2-font-weight);
  color: var(--grafite);
  font-size: var(--body-2-font-size);
  text-align: center;
}

.frame-5, .frame-6, .frame-7, .frame-8, .frame-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.frame-5 {
  width: 790px;
}

.frame-6 {
  width: 100%;
  flex-direction: column;
}

.frame-7 {
  align-items: flex-start;
  gap: 24px;
  width: 100%;
}

.input, .input-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.seu-nome, .seu-nome-2 {
  font-family: var(--body-2-font-family);
  font-weight: var(--body-2-font-weight);
  color: var(--cinza-escuro);
  font-size: var(--body-2-font-size);
}

.rectangle-2 {
  width: 790px;
  height: 90px;
  border-radius: 8px;
  border: 2px solid var(--cinza-mdio);
}

.boto {
  display: flex;
  flex-direction: column;
  width: 280px;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background-color: var(--vermelho);
  border-radius: 8px;
}

.ver-detalhes {
  font-family: var(--body2-bold-font-family);
  font-weight: var(--body2-bold-font-weight);
  color: var(--branco);
  font-size: var(--body2-bold-font-size);
  text-align: center;
}

.imagem-pr-rodap {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.rodap {
  display: flex;
  height: 232px;
  align-items: center;
  justify-content: space-between;
  padding: 32px 360px;
  background-color: var(--preto);
}

.logo-branco {
  width: 161.84px;
  height: 40px;
  object-fit: cover;
}

.frame-9 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.text-wrapper-4, .text-wrapper-5 {
  font-family: var(--body-2-font-family);
  font-weight: var(--body-2-font-weight);
  color: var(--neutral-c);
  font-size: var(--body-2-font-size);
}

.frame-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.img {
  flex: 0 0 auto;
}
