.desktop-large {

  display: flex;
  width: 1920px;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  background-color: #ffffff;
}

.desktop-large .frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.desktop-large .header {
  display: flex;
  align-items: center;
  gap: 579px;
  padding: 37px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--preto);
}

.desktop-large .div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 360px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.desktop-large .logo-provisria {
  position: relative;
  width: 260px;
  height: 64px;
}

.desktop-large .frame-2 {
  display: inline-flex;
  align-items: flex-end;
  gap: 40px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-large .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: var(--branco);
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-large .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: var(--branco);
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.desktop-large .frame-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 104px;
  flex: 0 0 auto;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.desktop-large .img {
  height: 620px;
  object-fit: cover;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.desktop-large .frame-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 112px;
  padding: 0px 360px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop-large .frame-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop-large .ttulo-padro {
  display: inline-flex;
  flex-direction: column;
  min-width: 312px;
  max-width: 600px;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-large .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--h3-font-family);
  font-weight: var(--h3-font-weight);
  color: var(--grafite);
  font-size: var(--h3-font-size);
  text-align: center;
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
  font-style: var(--h3-font-style);
}

.desktop-large .rectangle {
  position: relative;
  width: 180px;
  height: 4px;
  background-color: var(--vermelho);
}

.desktop-large .frame-6 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-large .frame-7 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-large .img-2 {
  position: relative;
  width: 588px;
  height: 452px;
  object-fit: cover;
}

.desktop-large .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: var(--h4-font-family);
  font-weight: var(--h4-font-weight);
  color: var(--grafite);
  font-size: var(--h4-font-size);
  text-align: center;
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  font-style: var(--h4-font-style);
}

.desktop-large .p {
  position: relative;
  width: 588px;
  font-family: var(--body-2-font-family);
  font-weight: var(--body-2-font-weight);
  color: var(--grafite);
  font-size: var(--body-2-font-size);
  letter-spacing: var(--body-2-letter-spacing);
  line-height: var(--body-2-line-height);
  font-style: var(--body-2-font-style);
}

.desktop-large .boto {
  display: flex;
  flex-direction: column;
  width: 280px;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 16px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--vermelho);
  border-radius: 8px;
}

.desktop-large .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body2-bold-font-family);
  font-weight: var(--body2-bold-font-weight);
  color: var(--branco);
  font-size: var(--body2-bold-font-size);
  text-align: center;
  letter-spacing: var(--body2-bold-letter-spacing);
  line-height: var(--body2-bold-line-height);
  white-space: nowrap;
  font-style: var(--body2-bold-font-style);
}

.desktop-large .frame-8 {
  display: flex;
  width: 1197px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 0 0 auto;
}

.desktop-large .div-2 {
  display: flex;
  flex-direction: column;
  width: 384px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
}

.desktop-large .text-wrapper-6 {
  position: relative;
  width: 285px;
  height: 46px;
  margin-top: -1px;
  font-family: var(--h2-font-family);
  font-weight: var(--h2-font-weight);
  color: var(--grafite);
  font-size: var(--h2-font-size);
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  white-space: nowrap;
  font-style: var(--h2-font-style);
}

.desktop-large .text-wrapper-7 {
  position: relative;
  width: 285px;
  height: 46px;
  font-family: var(--h4-font-family);
  font-weight: var(--h4-font-weight);
  color: var(--grafite);
  font-size: var(--h4-font-size);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  font-style: var(--h4-font-style);
}

.desktop-large .text-wrapper-8 {
  position: relative;
  width: 361px;
  font-family: var(--body-2-font-family);
  font-weight: var(--body-2-font-weight);
  color: var(--grafite);
  font-size: var(--body-2-font-size);
  letter-spacing: var(--body-2-letter-spacing);
  line-height: var(--body-2-line-height);
  font-style: var(--body-2-font-style);
}

.desktop-large .frame-9 {
  position: relative;
  width: 791px;
  margin-right: -1px;
}

.desktop-large .frame-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  padding: 0px 120px;
  flex: 0 0 auto;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.desktop-large .frame-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop-large .frame-11 {
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
  margin-left: -120px;
  margin-right: -120px;
}

.desktop-large .div-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop-large .text-wrapper-9 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--body-1-font-family);
  font-weight: var(--body-1-font-weight);
  color: #000000;
  font-size: var(--body-1-font-size);
  letter-spacing: var(--body-1-letter-spacing);
  line-height: var(--body-1-line-height);
  font-style: var(--body-1-font-style);
}

.desktop-large .frame-12 {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-large .img-3 {
  position: relative;
  width: 86px;
  height: 86px;
  object-fit: cover;
}

.desktop-large .frame-13 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-large .text-wrapper-10 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop-large .frame-14 {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-large .star {
  position: relative;
  width: 30.43px;
  height: 28.94px;
}

.desktop-large .imagem-pr-rodap {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 600px;
}

.desktop-large .rodap {
  display: flex;
  height: 232px;
  align-items: center;
  justify-content: space-between;
  padding: 32px 360px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: var(--preto);
}

.desktop-large .frame-15 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-large .logo-branco {
  position: relative;
  width: 161.84px;
  height: 40px;
  object-fit: cover;
}

.desktop-large .text-wrapper-11 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-2-font-family);
  font-weight: var(--body-2-font-weight);
  color: var(--neutral-c);
  font-size: var(--body-2-font-size);
  letter-spacing: var(--body-2-letter-spacing);
  line-height: var(--body-2-line-height);
  white-space: nowrap;
  font-style: var(--body-2-font-style);
}

.desktop-large .text-wrapper-12 {
  position: relative;
  width: fit-content;
  font-family: var(--body-2-font-family);
  font-weight: var(--body-2-font-weight);
  color: var(--neutral-c);
  font-size: var(--body-2-font-size);
  letter-spacing: var(--body-2-letter-spacing);
  line-height: var(--body-2-line-height);
  white-space: nowrap;
  font-style: var(--body-2-font-style);
}

.desktop-large .frame-16 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-large .frame-17 {
  position: relative;
  flex: 0 0 auto;
}
